<app-custom-card [showCloseButton]="false">

    <div body>
        <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
        <div class="circle-green w-150px h-150px d-flex justify-content-center align-items-center shadow mb-5 mx-auto">
            <i class="fas fa-envelope fa-5x text-white"></i>
        </div>
        <p class="introduction-title text-primary text-center text-heavy-font text-givt-purple" translate>
            passwordForgottenEmailSentComponent.title</p>
        <p class="text-givt-purple text-light-font text-center" translate>passwordForgottenEmailSentComponent.description</p>
    </div>
</app-custom-card>