<div class="d-flex flex-column h-100">
  <div class="d-flex flex-column CONTAINER container my-auto shadow h-100 w-100">
    <div class="HEADER row justify-content-center pt-5 header-navigation-bar">
      <div class="col-2"></div>
      <p translate class="text-givt-purple text-heavy-font p-0 m-0 text-center flex-grow-1">
        onboardingBankAccountSigningVerifyDetailsComponent.title
      </p>
      <a class='cursor-pointer' [routerLink]="['/', 'dashboard']">
        <div class="col-2 text-center"><i class="fas text-givt-purple fa-times"></i></div>
      </a>
    </div>
    <div class="BODY row d-flex flex-grow-1 overflow-auto">
      <div class="d-flex flex-column h-100 w-100">
        <div class="d-flex flex-column information-card p-3 shadow w-100">
          <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
            onboardingBankAccountSigningVerifyDetails.orgDetails
          </p>
          <p class="text-primary text-light-font text-givt-purple mb-0">
            {{ accountHolderDetails.OrganisationName }}
          </p>
          <p class="text-primary text-light-font text-givt-purple mb-0">
            {{ accountHolderDetails.OrganisationStreet }}
          </p>
          <p class="text-primary text-light-font text-givt-purple mb-0">
            Greenwich
          </p>
          <p class="text-primary text-light-font text-givt-purple mb-0">
            {{ accountHolderDetails.OrganisationCity }}
          </p>
          <p class="text-primary text-light-font text-givt-purple mb-0">
            {{ accountHolderDetails.OrganisationZipCode }}
          </p>
        </div>
        <div class="d-flex flex-column information-card p-3 shadow w-100">
          <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
            onboardingBankAccountSigningVerifyDetails.bankDetails
          </p>
          <p class="text-primary text-light-font text-givt-purple mb-0">Account name {{ accountHolderDetails.AccountName }}</p>
          <p class="text-primary text-light-font text-givt-purple mb-0">Sort code {{ accountHolderDetails.SortCode }}</p>
          <p class="text-primary text-light-font text-givt-purple mb-0">Account number {{ accountHolderDetails.AccountNumber }}</p>
        </div>
        <div class="d-flex flex-column information-card p-3 shadow w-100">
          <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
            onboardingBankAccountSigningVerifyDetails.nameAuthorized
          </p>
          <p class="text-primary text-light-font text-givt-purple mb-0">
            {{ accountHolderDetails.FirstName }}
          </p>
          <p class="text-primary text-light-font text-givt-purple mb-0">
            {{ accountHolderDetails.LastName }}
          </p>
        </div>
      </div>
    </div>
    <div class="FOOTER row pb-4 pt-2">
      <div class="w-100" [formGroup]="form">
        <p [translate] class="text-fgivt-purple text-heavy-font m-0 text-center">
          onboardingBankAccountSigningVerifyDetailsComponent.yesNoQuestion
        </p>
        <app-check-box-input formControlName="detailsCorrect" [(loading)]="isLoading"></app-check-box-input>
      </div>
    </div>
  </div>
</div>