<div class="component-container">
  <div class="custom-card shadow">
    <div class="card-titlebar">
      <p [translate]="'onboardingBankAccountSigningVerifyDetailsComponent.title'"
        class="text-givt-purple text-heavy-font p-0 m-0 text-center w-100">
      </p>
      <div class="position-absolute mr-4 float-right right-0 top-0 h5">
        <a class="cursor-pointer" [routerLink]="['/', 'dashboard']">
          <i class="fas text-givt-purple fa-times"></i>
        </a>
      </div>
    </div>
    <div class="card-content">
      <div class="card-content-header center-xy">
        <div class="circle-purple shadow w-150px h-150px center-xy">
          <i class="fas text-white fa-file-signature fa-4x"></i>
        </div>
      </div>
      <div class="card-content-body d-flex flex-grow-1">
        <div class="d-flex flex-column h-100 w-100">
          <div class="d-flex flex-column information-card p-3 shadow w-100 mb-3">
            <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
              onboardingBankAccountSigningVerifyDetails.orgDetails
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
              {{ accountHolderDetails.OrganisationName }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
              {{ accountHolderDetails.OrganisationStreet }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
              {{ accountHolderDetails.OrganisationLocality }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
              {{ accountHolderDetails.OrganisationCity }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
              {{ accountHolderDetails.OrganisationZipCode }}
            </p>
          </div>
          <div class="d-flex flex-column information-card p-3 shadow w-100 mb-3">
            <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
              onboardingBankAccountSigningVerifyDetails.bankDetails
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">Account name
              {{ accountHolderDetails.AccountName }}</p>
            <p class="text-primary text-light-font text-givt-purple mb-0">Sort code {{ accountHolderDetails.SortCode }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">Account number
              {{ accountHolderDetails.AccountNumber }}</p>
          </div>
          <div class="d-flex flex-column information-card p-3 shadow w-100 mb-3">
            <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
              onboardingBankAccountSigningVerifyDetails.nameAuthorized
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
              {{ accountHolderDetails.FirstName }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
              {{ accountHolderDetails.LastName }}
            </p>
          </div>
        </div>
      </div>
      <div class="card-content-footer">
        <div class="w-100" [formGroup]="form">
          <p [translate] class="text-fgivt-purple text-heavy-font m-0 text-center">
            onboardingBankAccountSigningVerifyDetailsComponent.yesNoQuestion
          </p>
          <app-check-box-input formControlName="detailsCorrect" [(loading)]="isLoading"></app-check-box-input>
        </div>
      </div>
    </div>
  </div>
</div>