<div class="d-flex flex-column h-100">
    <div class="d-flex flex-column CONTAINER container my-auto shadow h-100 w-100">
        <div class="HEADER row pt-1 pb-1 justify-content-center CONFETTI">
            <app-header-image class="text-center w-100 pb-4"></app-header-image>
            <div class="circle-green justify-content-center shadow">
                <i class="fas text-white fa-check fa-5x"></i>
            </div>
        </div>
        <div class="BODY row d-flex flex-grow-1">
            <div class="text-center">
                <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
                    onboardingCompletedComponent.title</p>
                <p class="text-givt-purple text-light-font" translate>onboardingCompletedComponent.description</p>
            </div>
        </div>
        <div class="FOOTER row pb-4">
            <div class="mr-0 ml-auto col-8 px-0">
                <a [href]="redirectUrl" [translate] class="btn btn-lg bg-givt-green float-right text-white text-heavy-font w-100">
                  onboardingWelcomeComponent.goToDashboardText
                </a>
              </div>
        </div>
    </div>
</div>
