<app-custom-card titleTranslationKey="onboardingOrganisationDetailsVerifyComponent.title" [showCloseButton]="true"
    iconBackgroundClass="circle-blue" icon="fas fa-newspaper fa-5x">

    <div body>
        <div class="d-flex flex-column information-card p-3 shadow w-100 mb-3">
            <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
                onboardingOrganisationDetailsVerifyComponent.orgDetails
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                {{ 'onboardingOrganisationDetailsVerifyComponent.CharityNumber' | translate}}
                {{ organisationDetails.charityNumber }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                {{ 'onboardingOrganisationDetailsVerifyComponent.CharityName' | translate }}
                {{ organisationDetails.charityName }}
            </p>
            <br />
            <p class="text-primary text-light-font text-givt-purple mb-0">
                {{ 'onboardingOrganisationDetailsVerifyComponent.Address' | translate }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                {{ organisationDetails.address.street }} <br />
                {{ organisationDetails.address.locality }} <br />
                {{ organisationDetails.address.locality2 }} <br />
                {{ organisationDetails.address.postCode }} <br />
            </p>
            <br />
            <p class="text-primary text-light-font text-givt-purple mb-0">
                {{ 'onboardingOrganisationDetailsVerifyComponent.PhoneNumber' | translate }}
                {{ organisationDetails.phoneNumber }}
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                {{ 'onboardingOrganisationDetailsVerifyComponent.Email' | translate }}
                {{ organisationDetails.email }}
            </p>
            <br>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                {{ 'onboardingOrganisationDetailsVerifyComponent.Trustee' | translate }}
                {{ organisationDetails.trustee.trusteeName }} - {{ organisationDetails.trustee.trusteeNumber }}
            </p>
        </div>
    </div>

    <div bottom class="w-100" [formGroup]="form">
        <p [translate] class="text-fgivt-purple text-heavy-font m-0 text-center">
            onboardingBankAccountSigningVerifyDetailsComponent.yesNoQuestion
        </p>
        <app-check-box-input formControlName="detailsCorrect" [(loading)]="loading"></app-check-box-input>
    </div>

</app-custom-card>