<div *ngIf="loading" class="d-flex mt-5 text-givt-purple justify-content-center">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ul *ngIf="!loading" class="list-group text-givt-purple  text-light-font list-group-flush">
  <li class="list-group-item bg-transparent d-flex pl-0 justify-content-start">
    <div class="align-items-center">
      <div class="progress">
        <span class="progress-left">
          <span
            class="progress-bar border-primary"
            [style.transform]="percentageComplete() > 50 ? 'rotate(' + percentageDegrees(percentageComplete() - 50) + 'deg)' : ''"
          ></span>
        </span>
        <span class="progress-right">
          <span
            class="progress-bar border-primary"
            [style.transform]="percentageComplete() < 51 ? 'rotate(' + percentageDegrees(percentageComplete()) + 'deg)' : 'rotate(180deg)'"
          ></span>
        </span>
        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
          <div class="h5 m-0 text-givt-purple text-heavy-font ">{{ percentageComplete() | number: '1.0-0' }}%</div>
        </div>
      </div>
    </div>

    <div class="ml-2 align-items-top">
      <h5 class=" text-heavy-font">{{ 'dashboardCompleteAccountWidgetComponent.completeAccount' | translate }}</h5>
      <p class="mb-1">{{ 'dashboardCompleteAccountWidgetComponent.moreInformation' | translate }}</p>
    </div>
  </li>
  <li
    (click)="navigate(record)"
    *ngFor="let record of records"
    [class.disabled]="record.Finished || !hasFirstStepBeenCompletedForUSOrganisation(record)"
    class="list-group-item bg-transparent d-flex justify-content-between align-items-center cursor-pointer"
  >
    <div [class.text-muted]="record.Finished || record.InProgress || !hasFirstStepBeenCompletedForUSOrganisation(record)" class="justify-content-start">
      <i
        [class.text-success]="record.Finished || record.InProgress"
        [class.fa-check-square]="record.Finished || record.InProgress"
        [class.fa-square]="!record.Finished && !record.InProgress"
        class="far fa-check-square  mr-2 text-success"
      ></i>
      <span [class.line-through]="record.Finished || record.InProgress"
        >{{ 'dashboardCompleteAccountWidgetComponent.' + record.OrganisationRegistrationStatusDescription | translate }}
      </span>
      <small *ngIf="record.InProgress" class="text-in-progress ml-2"
        ><i class="fa fa-clock"></i>&nbsp;{{
          'dashboardCompleteAccountWidgetComponent.' + record.OrganisationRegistrationStatusDescription + '.InProgress' | translate
        }}
      </small>
    </div>
    <a *ngIf="!record.Finished" class="text-givt-purple badge"><i class="fas fa-arrow-right"></i></a>
  </li>
</ul>
