a.action:hover {
    cursor: pointer
}

.user-row:nth-of-type(odd) {
    background: #f1f5f8;
}

.user-row:nth-of-type(even) {
    background: white;
}

.modal-body .container-fluid {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.background-gradient-blue {
    background: #5A5387; /* Old browsers */
    background: -moz-linear-gradient(45deg, #5A5387 30%, #4D98CF 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #5A5387 30%,#4D98CF 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #5A5387 30%,#4D98CF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A5387', endColorstr='#4D98CF',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}