<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()'>
    <app-custom-card-v2 titleTranslationKey="onboardingOrganisationDetailsAddressComponent.title" description="onboardingOrganisationDetailsAddressComponent.subtitle" 
        [showPreviousButton]="true" [loading]="loading">
        <div body>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" placeholder="{{'onboardingOrganisationDetailsAddressComponent.placeholders.address' | translate}}" formControlName="address" class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" placeholder="{{'onboardingOrganisationDetailsAddressComponent.placeholders.city' | translate}}" formControlName="city" class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                </div>
                <div class="form-group col-md-4">
                    <input type="text" placeholder="{{'onboardingOrganisationDetailsAddressComponent.placeholders.postcode' | translate}}" formControlName="postcode" class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <select class="givt-drop-down form-control form-control-lg shadow text-givt-purple" formControlName="country">
                        <option value="null" disabled>
                            {{'onboardingOrganisationDetailsAddressComponent.labels.selectCountry' | translate}}
                        </option>
                        <option *ngFor="let c of countries" value="{{c[1]}}">{{c[0]}}</option>
                    </select>
                </div>
            </div>
        </div>
    </app-custom-card-v2>
</form>