// Required
@import "../../../../globals.scss";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.flex-column a {
    border-left: 5px solid rgba(255,255,255,0)
}

.flex-column .active {
    border-left: 5px solid theme-color("success");
}

.flex-column i {
    margin-left: -5px;
}

.flex-column li {
    i {
        width: 24px;
    }
}

.flex-column li {
    a:hover {
        cursor: pointer;
    }
}

.image-holder img {
    height: 50px;
}

.menu-list-bottom {
    list-style: none;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.givt-essentials a {
    display: contents;
}

.switch-button {
    border: 2px solid;
    background-color: theme-color("primary");
    color:white;
    margin-right: -0.5rem;
}
