<nav class="text-medium-font d-lg-none navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="text-medium-font sidebar-sticky border-1 h-100 	d-none d-md-none d-lg-block d-flex justify-content-end">
  <ul class="nav flex-column h-50">
    <div class=" w-50 ml-5 image-holder mt-5 mb-5 justify-content-center">
     <img src="/assets/images/givt-logo.svg"/>
    </div>
    <li class="mr-2 my-2 nav-item">
      <a class="nav-link active" href="#">
        <img src="assets/icons/icon_dashboard.svg" class="mr-2" width="24" height="24" />
        Dashboard
      </a>
    </li>
    <li class="mr-2 my-2 nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-money-check mr-2"></i>
        Bankrekeningen
      </a>
    </li>
    <li class="mr-2 my-2 nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-arrow-circle-down mr-2"></i>
        Betalingen
      </a>
    </li>
    <li class="mr-2 my-2 nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-users mr-2"></i>
        Gebruikers
      </a>
    </li>
  </ul>

  <ul class="nav flex-column h-50 justify-content-end">
    <li class="mr-2 my-2 nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-cogs mr-2"></i>
        Instellingen
      </a>
    </li>
    <li class="mr-2 my-2 nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-book mr-2"></i>
        Handboek
      </a>
    </li>
    <li class="mr-2 my-2 nav-item">
      <a class="nav-link text-muted" href="#">
        <i class="fas fa-sign-out-alt mr-2"></i>
        Uitloggen
      </a>
    </li>
  </ul>
</div>
