// Required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.flex-column .active {
  border-left: 5px solid theme-color('success');
}

.flex-column .active i,
img {
  margin-left: -5px;
}

.image-holder img {
  height: 50px;
}

.menu-list-bottom {
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%
}

.givt-essentials a {
    display: contents;
}