@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@include media-breakpoint-up(sm) {
  .information-card-big {
    flex-direction: row !important;
  }

  .information-card-left {
    padding-bottom: unset !important;
  }

  .information-card-right {
    border-left: #ffffff 2px solid;
    padding-left: 1.5rem !important;
    border-top: unset !important;
    padding-top: unset !important;
  }
}

app-custom-card {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.information-card {
  background-color: var(--background-grey);
  border-radius: 0.3rem;
}

.information-card-right {
  border-top: #ffffff 2px solid;
}

.bottom-button {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.confetti {
  background-image: url('../../assets/images/confetti.svg');
}


.top-0 {
  top: 0;
}

.lh-1 {
  line-height: 1rem;
}