<form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()" class="justify-content-center h-100 w-100">
  <app-custom-card titleTranslationKey="onboardingWelcomeComponent.title" [showCloseButton]="false">

    <div body>
      <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
      <p [translate]="'onboardingWelcomeComponent.title'"
        [translateParams]="{ name: stateService.currentOnboardingRequest.companyName }"
        class="introduction-title text-primary text-light-font text-givt-purple text-center mt-4"></p>
      <input type="email" autocomplete="new-password" placeholder="{{ 'placeholders.email' | translate }}"
        formControlName="email" class="form-control form-control-lg mb-3 shadow text-givt-purple" />
      <small class="text-left form-text pb-3">
        <a class="text-givt-purple text-light-font" translate
          [routerLink]="['/', 'onboarding', 'welcome', 'new-users', { outlets: { 'onboarding-outlet': ['change-email'] } }]"
          queryParamsHandling="merge">
          onboardingWelcomeComponent.differentEmailAddress</a>
      </small>
      <app-password-input *ngIf="showPassword" formControlName="password"></app-password-input>
    </div>

    <button bottom type="submit" [translate] class="btn btn-lg bg-givt-green text-white text-heavy-font bottom-button">
      onboardingWelcomeComponent.registerButtonText
    </button>

  </app-custom-card>
</form>