
<div class="row mt-5">
    <div class="col-3">
            <app-dashboard-link-button text="Collectegroep toevoegen" icon="fas fa-plus"></app-dashboard-link-button>

    </div>
    <div class="col-4">
       <app-dashboard-tile-widget 
       class="text-white"
       icon="fas fa-church fa-3x"
       image="assets/images/widget-background-1.svg"
       footer="€ 0 Laatste collecte"
       title="Faith Church"></app-dashboard-tile-widget>
    </div>
</div>
<div class="col-3">
        <app-dashboard-complete-account-widget></app-dashboard-complete-account-widget>
</div>

