<div class="container onboarding-container align-self-center">
    <div class="onboarding-wrapper">
      <div class="onboarding-header mt-5">
        <app-header-image></app-header-image>
        <p [translate]="'onboardingWelcomeComponent.title'"
            [translateParams]="{ name: request.companyName }"
            class="introduction-title text-center text-light-font  mt-3"></p>
      </div>
      <div class="onboarding-body mt-3">
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
            <input  formControlNhjkhkame="email" type="email" name="" autocomplete="new-password"
            placeholder="{{ 'placeholders.email' | translate }}" class="form-control-lg text-give-purple my-3 show-validation form-control" />
          <app-password-input formControlName="password"></app-password-input>
        </form>
      </div>
    </div>
    <div class="onboarding-footer">
      <button (click)="submit()" type="submit" [disabled]="loading" [translate] class="btn btn-lg btn-success text-white text-heavy-font mb-3">
        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>&nbsp; onboardingWelcomeComponent.registerButtonText
    </button>
    </div>
  </div>
