.onboarding-container {
    justify-content: space-between;
    .onboarding-wrapper {
        .onboarding-header {
            :nth-child(1) {
                max-width: 30px;
            }
            p {
                margin-top: 40px;
            }
        }
    }
}