<div class="container onboarding-container align-self-center">
    <div class="onboarding-wrapper">
        <div class="onboarding-header mt-5">
            <app-header-image></app-header-image>
            <div class="confetti">
                <app-header-image-party></app-header-image-party>
            </div>
        </div>
        <div class="onboarding-body">
            <div class="success-circle justify-content-center">
                <i class="fas text-white   fa-check fa-7x"></i>
            </div>

            <p translate>onboardingCompletedComponent.title</p>
            <p translate>onboardingCompletedComponent.description</p>
        </div>
    </div>
    <div class="onboarding-footer">
    </div>
</div>