.success-circle {
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #41c98e; /* Old browsers */
    display:flex;
    align-items:center;
}

.no-underline {
    text-decoration: none;
}

.confetti {
    position: absolute;
    z-index: -50;
    margin-top: -10%;
    padding-right: 0;
    padding-left: 0;
}