<div class="container mt-5">
    <div class="row mt-5 justify-content-center">
        <div class="col-7 confetti">
            <app-header-image-party></app-header-image-party>
        </div>
        <div class="col-5 ">
            <app-header-image></app-header-image>
        </div>

    </div>
    <div class="row mt-5 justify-content-center">
        <div class="success-circle justify-content-center">
            <i class="fas text-white   fa-check fa-7x"></i>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-12 text-center introduction-title text-primary text-heavy-font">
            <span translate>onboardingCompletedComponent.title</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12  text-primary text-light-font">
            <span translate>onboardingCompletedComponent.description</span>
        </div>
    </div>
    <div class="row fixed-bottom mb-5 mr-1 mr-lg-5 justify-content-center">
        <div class="col-8 justify-content-center">
            <a href="https://cloud.givtapp.net" [translate]
                class="btn btn-lg btn-success btn-block text-white text-heavy-font">
                onboardingWelcomeComponent.goToDashboardText
            </a>
        </div>

    </div>

</div>