<div class="container mt-5">
    <div class="row mt-5 justify-content-center">
        <div class="col-5">
            <app-header-image></app-header-image>
        </div>
    </div>
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
        <div class="row mt-4">
            <div class="col-12">
                <p class="introduction-title text-primary  text-light-font">
                    Welkom bij het persoonlijke dashboard van {{request.companyName}}.
                    Registreer eenmalig om toegang te krijgen.
                </p>

                <input
                    formControlName="email"
                    type="email"
                    name=""
                    autocomplete="new-password"
                    placeholder="E-mailadres"
                    class="my-3 form-control form-control-lg show-validation text-primary"
                />

                <app-password-input
                    formControlName="password"
                ></app-password-input>
            </div>
        </div>
        <div class="row fixed-bottom mb-5 mr-1 mr-lg-5">
            <div class="col-4"></div>
            <div class="col-8">
                <button type="submit"                                    class="btn btn-lg btn-success btn-block text-white  text-heavy-font" >
                    Registreren
            </button>
            </div>
        </div>
    </form>
</div>
