<div class="container mt-5">
    <div class="row mt-5 justify-content-center">
        <div class="col-5">
            <app-header-image></app-header-image>
        </div>
    </div>
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
        <div class="row mt-4">
            <div class="col-12">
                <p [translate]="'onboardingWelcomeComponent.title'" 
                [translateParams]="{name: request.companyName}" class="introduction-title text-primary  text-light-font">
                    
                </p>

                <input
                    formControlName="email"
                    type="email"
                    name=""
                    (blur)="checkEmail()"
                    autocomplete="new-password"
                    placeholder="{{'placeholders.email' | translate}}"
                    class="my-3 form-control form-control-lg show-validation text-primary"
                />

                <app-password-input
                    formControlName="password"
                ></app-password-input>
            </div>
        </div>
        <div class="row fixed-bottom mb-5 mr-1 mr-lg-5">
            <div class="col-4"></div>
            <div class="col-8">
                <button *ngIf="this.isEmailNew"
                    type="submit"
                   [translate]
                    class="btn btn-lg btn-success btn-block text-white  text-heavy-font"
                >
                onboardingWelcomeComponent.registerButtonText
                </button>
                <button *ngIf="!this.isEmailNew"
                    type="submit"
                   [translate]
                    class="btn btn-lg btn-success btn-block text-white  text-heavy-font"
                >
                onboardingWelcomeComponent.sendEmailButtonText
                </button>
            </div>
        </div>
    </form>
</div>
