<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()' class='justify-content-center w-100 h-100' #formDir="ngForm" [class.submitted]="formDir.submitted">
    <app-custom-card 
    height="700px"
    [showCloseButton]="false" [showPreviousButton]="true">
        <div body>
            <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
            <p class="introduction-title text-primary text-light-font text-givt-purple mt-3 text-center" translate>
                preboardingOrganisationAdminDetailsComponent.description
            </p>
           
            <div class="row no-gutters">
                <div class="col-11">
                    <div class="form-group">
                        <input class="form-control email-input shadow" formControlName="email" type="email" placeholder="{{ 'placeholders.email' | translate }}" />
                    </div>
                </div>
            </div>
           
            <div class="mt-5">
                <p class="introduction-title text-primary text-light-font text-givt-purple mt-3 text-center" translate>
                    preboardingOrganisationAdminDetailsComponent.hint
                </p>
            </div>
        </div>
        
        <button bottom type="submit" [translate] class="btn align-self-center btn-lg bg-givt-purple text-white text-heavy-font bottom-button w-75">
            <span class="text-white text-heavy-font" translate>
                <i class="fas fa-spinner fa-spin mr-1" *ngIf="loading"></i>
                preboardingOrganisationAdminDetailsComponent.nextButtonText
            </span>
        </button>
    </app-custom-card>
</form>