.form-group-sm-btn {
    button {
        margin-right: 20px;
    }
    display: flex;
    justify-content: center;
}

.email-input {
    margin-right: 20px;
}

.no-gutters {
    justify-content: center;
}