<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()' class='justify-content-center w-100 h-100'>
    <app-custom-card titleTranslationKey='onboardingGiftAidOrganisationDetailsCharityNumberComponent.title'
        [showPreviousButton]="true" iconBackgroundClass="circle-blue" icon="fas fa-newspaper fa-5x">
        <div body>
            <p translate class="introduction-title text-primary text-light-font text-givt-purple mt-3">
                onboardingGiftAidOrganisationDetailsCharityNumberComponent.description</p>

            <p translate class="introduction-title text-primary text-light-font text-givt-purple mt-3">
                onboardingGiftAidOrganisationDetailsCharityNumberComponent.subtitleCharityNumber</p>

            <input type="number" placeholder="{{ 'onboardingGiftAidOrganisationDetailsCharityNumberComponent.placeholderCharityNumber' | translate }}"
                formControlName="charityCommissionReference" class="form-control form-control-lg mb-3 shadow text-givt-purple" />

                <p translate class="introduction-title text-primary text-light-font text-givt-purple mt-3">
                    onboardingGiftAidOrganisationDetailsCharityNumberComponent.subtitleCharityId</p>

            <input type="text" placeholder="{{'onboardingGiftAidOrganisationDetailsCharityNumberComponent.placeholderCharityId' | translate}}" formControlName="charityId"
                class="form-control form-control-lg mb-3 shadow text-givt-purple" />
        </div>
        <button bottom type="submit" [translate] [disabled]="loading"
            class="btn align-self-end btn-lg bg-givt-purple text-white text-heavy-font bottom-button w-75">
            <span class="text-white text-heavy-font" translate>
                <i *ngIf="loading" class="fas fa-spinner fa-spin mr-2"></i>
                onboardingOrganisationDetailsCharityNumberComponent.nextButtonText
            </span>
        </button>
    </app-custom-card>
</form>