<form autocomplete="off" [formGroup]="form" class="justify-content-center w-100 h-100">
    <app-custom-card titleTranslationKey="onboardingBankAccountSigningDirectDebitGuaranteeComponent.title"
        [showPreviousButton]="true" [showCloseButton]="true">
        <div body>

            <p class="text-givt-purple text-light-font"
                innerHTML="{{paymentProvider == 0 || paymentProvider == 4 ? ('onboardingBankAccountSigningDirectDebitGuaranteeComponent.description.SEPA' | translate) : ('onboardingBankAccountSigningDirectDebitGuaranteeComponent.description.BACS' | translate ) }}">
            </p>
            <div class="custom-control custom-switch">
                <input type="checkbox" formControlName="acceptedDirectDebitGuarantee" class="custom-control-input"
                    id="acceptedDirectDebitGuarantee" style="height:50px; width:50px">
                <label class="custom-control-label text-givt-purple"
                    for="acceptedDirectDebitGuarantee" innerHTML= "{{paymentProvider == 0 || paymentProvider == 4 ? ('onboardingBankAccountSigningDirectDebitGuaranteeComponent.switch.SEPA' | translate) : ('onboardingBankAccountSigningDirectDebitGuaranteeComponent.switch.BACS' | translate)}}"></label>
            </div>
        </div>
        <button bottom (click)="handleAcceptOrRefusal()"
            [disabled]="!form.value.acceptedDirectDebitGuarantee || loading" [translate]
            class="btn align-self-end btn-lg bg-givt-green text-white text-heavy-font bottom-button w-75">
            <span class="text-white text-heavy-font" translate>
                <i *ngIf="loading" class="fas fa-spinner fa-spin mr-2"></i>
                onboardingBankAccountSigningDirectDebitGuaranteeComponent.signText
            </span>
        </button>
    </app-custom-card>
</form>