<app-custom-card titleTranslationKey="" [showCloseButton]="true" iconBackgroundClass="circle-purple"
    icon="fas fa-file-signature fa-4x"
    questionMarkTitle="onboardingBankAccountSigningIntroDirectDebitGuaranteeComponent.questionmarkTitle"
    questionMarkText="{{paymentProvider == 0 ? ('onboardingBankAccountSigningIntroDirectDebitGuaranteeComponent.questionmarkText.SEPA' | translate) : ( 'onboardingBankAccountSigningIntroDirectDebitGuaranteeComponent.questionmarkText.BACS' | translate ) }}">

    <div body>
        <p class="introduction-title text-primary text-center text-heavy-font text-givt-purple" innerHTML="{{paymentProvider == 0 ? ('onboardingBankAccountSigningIntroDirectDebitGuaranteeComponent.title.SEPA' | translate) : ( 'onboardingBankAccountSigningIntroDirectDebitGuaranteeComponent.title.BACS' | translate ) }}">
            </p>
        <p class="text-givt-purple text-light-font text-center" innerHTML="{{paymentProvider == 0 ? ('onboardingBankAccountSigningIntroDirectDebitGuaranteeComponent.description.SEPA' | translate) : ( 'onboardingBankAccountSigningIntroDirectDebitGuaranteeComponent.description.BACS' | translate ) }}"></p>
    </div>

    <a bottom [translate]
        class="btn btn-lg align-self-end bg-givt-green text-center text-white text-heavy-font bottom-button w-75"
        [routerLink]="['/', 'onboarding', 'bank-account-signing', { outlets: { 'onboarding-outlet': ['direct-debit-guarantee'] } }]"
        queryParamsHandling="merge">
        onboardingBankAccountSigningIntroDirectDebitGuaranteeComponent.nextButtonText
    </a>
</app-custom-card>