@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

@import '../../../../globals.scss';

.side-bar-host {
  position: absolute;
  top: 0px;
  z-index: $zindex-modal;
  margin-left: -1px;
  border-top-right-radius: 50px;
}
