<app-custom-card titleTranslationKey="" [showCloseButton]="false" iconBackgroundClass="circle-blue"
    icon="fas fa-question fa-5x">

    <div body class="text-center">
        <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
            onboardingOrganisationDetailsParentKnownComponent.title</p>
        <p class="text-givt-purple text-light-font" translate>
            onboardingOrganisationDetailsParentKnownComponent.description</p>
    </div>

    <a bottom
        class="btn btn-lg bg-givt-green text-white text-heavy-font bottom-button w-100">
        <i class="fas fa-spinner fa-spin mr-1" *ngIf="loading"></i>
        {{timeLeft}}
    </a>

</app-custom-card>