<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()' class='justify-content-center w-100 h-100' #formDir="ngForm" [class.submitted]="formDir.submitted">
    <app-custom-card [showCloseButton]="false" [showPreviousButton]="true" titleTranslationKey='preboardingOrganisation.topTitle'>
        <div body>
            <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
            <p class="introduction-title text-primary text-light-font text-givt-purple mt-3" translate>
                preboardingCollections.description
            </p>
            <div class="form-check">
                <input id="singleCollectionService" formControlName="singleCollectionService" type="checkbox" class="form-check-input" />
                <label for="singleCollectionService" translate class="form-check-label introduction-title text-primary text-light-font text-givt-purple">
                    preboardingCollections.labelSingleCollection</label>
            </div>
            <div class="form-check">
                <input id="multipleCollectionService" formControlName="multipleCollectionService" type="checkbox" class="form-check-input" />
                <label for="multipleCollectionService" translate class="form-check-label introduction-title text-primary text-light-font text-givt-purple">
                    preboardingCollections.labelMultipleCollections</label>
            </div>
            <div class="form-check">
                <input id="endOfServiceCollection" formControlName="endOfServiceCollection" type="checkbox" class="form-check-input" />
                <label for="endOfServiceCollection" translate class="form-check-label introduction-title text-primary text-light-font text-givt-purple">
                    preboardingCollections.labelEndOfServiceCollection</label>
            </div>
            <div class="form-check">
                <input id="communionCollection" formControlName="communionCollection" type="checkbox" class="form-check-input" />
                <label for="communionCollection" translate class="form-check-label introduction-title text-primary text-light-font text-givt-purple">
                    preboardingCollections.labelCommunionCollection</label>
            </div>
            <div class="form-check">
                <input id="candleCollection" formControlName="candleCollection" type="checkbox" class="form-check-input" />
                <label for="candleCollection" translate class="form-check-label introduction-title text-primary text-light-font text-givt-purple">
                    preboardingCollections.labelCandleCollection</label>
            </div>
        </div>
        <button bottom type="submit" [translate] class="btn align-self-end btn-lg bg-givt-purple text-white text-heavy-font bottom-button w-75">
            <span class="text-white text-heavy-font" translate>
                preboardingCollectionMediumDetails.nextButtonText
            </span>
        </button>
    </app-custom-card>
</form>