<div class="d-flex flex-column h-100">
  <div class="d-flex flex-column CONTAINER container my-auto shadow h-100 w-100">
    <div class="HEADER row pt-1 pb-1">
      <app-header-image class="text-center w-100"></app-header-image>
    </div>
    <div class="BODY row d-flex flex-grow-1">
      <div class="w-100">
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
          <p [translate]="'onboardingWelcomeComponent.title'"
            [translateParams]="{ name: stateService.currentOnboardingRequest.companyName }"
            class="introduction-title text-primary text-light-font text-givt-purple text-center mt-3"></p>
            <p translate class="text-givt-purple text-heavy-font text-center">
                onboardingPersonalDetailsComponent.title
              </p>
          <input formControlName="firstName" type="text" autocomplete="given-name"
            placeholder="{{ 'placeholders.firstName' | translate }}"
            class="my-3 form-control form-control-lg show-validation text-primary mb-3 shadow text-givt-purple" />
          <input formControlName="lastName" type="text" autocomplete="family-name"
            placeholder="{{ 'placeholders.lastName' | translate }}"
            class="my-3 form-control form-control-lg show-validation text-primary mb-3 shadow text-givt-purple" />
        </form>
      </div>
    </div>
    <div class="FOOTER row pb-4">
      <div class="mr-0 ml-auto col-8 px-0">
        <button type="submit" [translate]
          class="btn float-right btn-lg bg-givt-purple text-white text-heavy-font w-100 m-0">
          <i class="fas fa-spinner fa-spin mr-2" *ngIf="loading"></i>onboardingPersonalDetailsComponent.nextButtonText
        </button>
      </div>
    </div>
  </div>
</div>
