
    <app-custom-card [showCloseButton]="false">
  
        <div body>
          <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
 hoe wil je eruit zien in de app enzo max 30 chars
        </div>
    
        <a bottom type="submit" [routerLink]="['/','preboarding','register','organisation-details']" [translate] class="btn align-self-end btn-lg bg-givt-green text-white text-heavy-font bottom-button w-75">
          onboardingWelcomeComponent.registerButtonText
        </a>
    
      </app-custom-card>
  
    