<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()' class='justify-content-center w-100 h-100'>
    <app-custom-card [showCloseButton]='false' [showPreviousButton]='true' iconBackgroundClass="circle-blue" icon="fas fa-newspaper fa-5x">
        <div body class="text-center">
            <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
                onboardingOrganisationDetailsCharityDetailsComponent.title</p>
            <p class="text-givt-purple text-light-font" translate>
                onboardingOrganisationDetailsCharityDetailsComponent.subtitle</p>
            <select class="form-control form-control-lg mb-3 shadow text-givt-purple" formControlName="regulator">
                <option translate value="null">
                    onboardingOrganisationDetailsCharityDetailsComponent.labels.selectRegulator</option>
                <option value="2">OSCR - Office of the Scottish Charity Regulator</option>
                <option value="3">CCNI - Charity Commission Northern Ireland</option>
                <option value="4">Exempt Charity</option>
                <option value="5">Jersey Charity Commissioner</option>
                <option value="6">Association of Guernsey Charities</option>
                <option value="7">Companies house</option>
            </select>
            <input type="text" placeholder="{{'onboardingOrganisationDetailsCharityDetailsComponent.placeholders.referenceWithRegulator'|translate}}" formControlName="referenceWithRegulator" class="form-control form-control-lg mb-3 shadow text-givt-purple" />
            <input type="text" placeholder="{{'onboardingOrganisationDetailsCharityDetailsComponent.placeholders.referenceWithParent'|translate}}" formControlName="referenceWithParent" class="form-control form-control-lg mb-3 shadow text-givt-purple" />
            <input type="text" placeholder="{{'onboardingOrganisationDetailsCharityDetailsComponent.placeholders.referenceWithHMRC'|translate}}" formControlName="referenceWithHMRC" class="form-control form-control-lg mb-3 shadow text-givt-purple" />

        </div>
        <button bottom type="submit" [translate] [disabled]="loading" class="btn align-self-end btn-lg bg-givt-purple text-white text-heavy-font bottom-button w-75">
            <span class="text-white text-heavy-font" translate>
                <i *ngIf="loading" class="fas fa-spinner fa-spin mr-2"></i>
                Gif mo goaze
            </span>
        </button>
    </app-custom-card>
</form>