<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()'>
    <app-custom-card-v2 titleTranslationKey="onboardingOrganisationDetailsCharityDetailsComponent.title"
        description="onboardingOrganisationDetailsCharityDetailsComponent.subtitle" showPreviousButton="true">
        <div body>
            <div class="form-row" *ngIf="hasParent">
                <div class="form-group col-md-6">
                    <input type="text"
                        placeholder="{{'onboardingOrganisationDetailsCharityDetailsComponent.placeholders.referenceWithParent'|translate}}"
                        formControlName="referenceWithParent"
                        class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                </div>
            </div>

            <div class="form-row" *ngIf="!hasParent">
                <div class="form-group col-md-6">
                    <select class="form-control form-control-lg mb-3 shadow text-givt-purple"
                        formControlName="regulator">
                        <option translate [ngValue]="null">
                            onboardingOrganisationDetailsCharityDetailsComponent.labels.selectRegulator</option>
                        <option [ngValue]="2">OSCR - Office of the Scottish Charity Regulator</option>
                        <option [ngValue]="3">CCNI - Charity Commission Northern Ireland</option>
                        <option [ngValue]="4">Exempt Charity</option>
                        <option [ngValue]="5">Jersey Charity Commissioner</option>
                        <option [ngValue]="6">Association of Guernsey Charities</option>
                        <option [ngValue]="7">Companies house</option>
                    </select>
                </div>
            </div>

            <div class="form-row" *ngIf="!hasParent">
                <div class="form-group col-md-6">
                    <input type="text"
                        placeholder="{{'onboardingOrganisationDetailsCharityDetailsComponent.placeholders.referenceWithRegulator'|translate}}"
                        formControlName="referenceWithRegulator"
                        class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                </div>

                <div class="form-group col-md-6">
                    <input type="text"
                        placeholder="{{'onboardingOrganisationDetailsCharityDetailsComponent.placeholders.referenceWithHMRC'|translate}}"
                        formControlName="referenceWithHMRC"
                        class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                </div>
            </div>
        </div>
    </app-custom-card-v2>
</form>