<app-custom-card titleTranslationKey="onboardingBankAccountSigningVerifyDetailsComponent.title"
    iconBackgroundClass="circle-purple" icon="fas fa-file-signature fa-4x">
    <div body>
        <div class="d-flex flex-column information-card p-3 shadow w-100 mb-3">
            <p class="introduction-title text-primary text-heavy-font text-givt-purple">
                Personal details
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Firstname
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Middlename
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Lastname
            </p>
            <p class="introduction-title text-primary text-heavy-font text-givt-purple">
                Phonenumber
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Phonenumber
            </p>
        </div>
        <div class="d-flex flex-column information-card p-3 shadow w-100 mb-3">
            <p class="introduction-title text-primary text-heavy-font text-givt-purple">
                Identification details
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Insurance number
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Identity card number
            </p>
        </div>
        <div class="d-flex flex-column information-card p-3 shadow w-100 mb-3">
            <p class="introduction-title text-primary text-heavy-font text-givt-purple">
                Address Details
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Address line 1
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Address line 2
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Address line 3
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Address line 4
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                ZIP code
            </p>
            <p class="text-primary text-light-font text-givt-purple mb-0">
                Country
            </p>
        </div>
    </div>

    <div bottom class="w-100" [formGroup]="form">
        <p [translate] class="text-fgivt-purple text-heavy-font m-0 text-center">
            onboardingBankAccountSigningVerifyDetailsComponent.yesNoQuestion
        </p>
        <app-check-box-input formControlName="detailsCorrect" [(loading)]="isLoading"></app-check-box-input>
    </div>

</app-custom-card>