<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()' class='justify-content-center w-100 h-100' #formDir="ngForm" [class.submitted]="formDir.submitted">
    <app-custom-card titleTranslationKey='onboardingGiftAidAuthorisedOfficialAddressDetailsComponent.title'
        [showPreviousButton]="true" iconBackgroundClass="circle-blue" icon="fas fa-newspaper fa-5x">
        <div body>
            <p class="introduction-title text-primary text-light-font text-givt-purple mt-3" translate>
                onboardingGiftAidAuthorisedOfficialAddressDetailsComponent.description
            </p>

            <input type="text"
                placeholder="{{'onboardingGiftAidAuthorisedOfficialAddressDetailsComponent.placeholderAddressLine1' | translate}}"
                formControlName="authorisedOfficialHomeAddressLineOne"
                class="form-control form-control-lg mb-3 shadow text-givt-purple" />

            <input type="text"
                placeholder="{{'onboardingGiftAidAuthorisedOfficialAddressDetailsComponent.placeholderAddressLine2' | translate}}"
                formControlName="authorisedOfficialHomeAddressLineTwo"
                class="form-control form-control-lg mb-3 shadow text-givt-purple" />

            <input type="text"
                placeholder="{{'onboardingGiftAidAuthorisedOfficialAddressDetailsComponent.placeholderAddressLine3' | translate}}"
                formControlName="authorisedOfficialHomeAddressLineThree"
                class="form-control form-control-lg mb-3 shadow text-givt-purple" />

            <input type="text"
                placeholder="{{'onboardingGiftAidAuthorisedOfficialAddressDetailsComponent.placeholderZipcode' | translate}}"
                formControlName="authorisedOfficialHomeAddressLineZipCode"
                class="form-control form-control-lg mb-3 shadow text-givt-purple" />

            <input type="text"
                placeholder="{{'onboardingGiftAidAuthorisedOfficialAddressDetailsComponent.placeholderCountry' | translate}}"
                formControlName="authorisedOfficialHomeAddressLineCountry"
                class="form-control form-control-lg mb-3 shadow text-givt-purple" />

        </div>
        <button bottom type="submit" [translate] [disabled]="loading"
            class="btn align-self-end btn-lg bg-givt-purple text-white text-heavy-font bottom-button w-75">
            <span class="text-white text-heavy-font" translate>
                <i *ngIf="loading" class="fas fa-spinner fa-spin mr-2"></i>
                onboardingOrganisationDetailsCharityNumberComponent.nextButtonText
            </span>
        </button>
    </app-custom-card>
</form>