<div class="container margin-top">
  <div class="row margin-top justify-content-center">
    <div class="col-5">
      <app-header-image></app-header-image>
    </div>
  </div>

  <p class="introduction-title text-primary text-roman-font">
    Welkom bij het persoonlijke dashboard van Faith-church. Registreer eenmalig
    om toegang te krijgen.
  </p>

  <input
    type="email"
    placeholder="E-mailadres"
    class="margin-top margin-bottom-5 givt-control"
  />

  <app-password-input></app-password-input>

  <div class="d-flex">
    <div class="align-self-end">
      <button class="givt-button givt-button-secondary text-medium-font">
        Registreren
      </button>
    </div>
  </div>
</div>
