<app-custom-card>
  <div body class="d-flex flex-column align-items-center">
    <app-header-image class="text-center w-100 pb-4 mt-4"></app-header-image>
    <div class="circle-red justify-content-center shadow mt-2rem">
      <i class="fas text-white fa-times fa-5x"></i>
    </div>
    <p class="introduction-title text-center text-primary text-heavy-font text-givt-purple mt-2rem" translate>
      notFoundComponent.title</p>
    <p class="text-center text-givt-purple text-light-font" translate>notFoundComponent.description</p>
  </div>
</app-custom-card>