<div class="d-flex flex-column h-100">
    <div class="d-flex flex-column CONTAINER container my-auto shadow h-100 w-100">
        <div class="HEADER row d-flex align-items-center pb-5">
            <div class="col-2"></div>
            <p class="text-givt-purple text-heavy-font p-0 m-0 text-center flex-grow-1" translate>
                onboardingBankAccountAddComponent.title</p>
            <div class="col-2 text-center"><i class="fas text-givt-purple fa-times"></i> </div>
        </div>
        <div class="BODY row d-flex flex-grow-1">
            <div class="w-100">
                <p class="introduction-title text-primary text-light-font text-givt-purple" translate>
                    onboardingBankAccountAddComponent.description</p>
                <input type="text" placeholder="{{ 'placeholders.bankAccountNumberIBAN' | translate }}"
                    class="form-control-lg pt-3 form-control mb-3 shadow text-givt-purple" />
                <input type="text" placeholder="{{ 'placeholders.bankAccountName' | translate }}"
                    class="form-control-lg pt-3 form-control mb-3 shadow text-givt-purple" />
            </div>
        </div>
        <div class="FOOTER row pb-4">
            <div class="mr-0 ml-auto col-8 px-0">
                <button type="submit" [translate]
                    class="btn float-right btn-lg bg-givt-purple text-white text-heavy-font w-100 m-0 row d-flex align-items-center">
                    <div class="col-2"></div>
                    <p class="text-white text-heavy-font p-0 m-0 text-center flex-grow-1" translate>
                        onboardingBankAccountAddComponent.buttonText</p>
                    <div class="col-2 text-center"><i class="fas text-white fa-arrow-right"></i> </div>
                </button>
            </div>
        </div>
    </div>
</div>