<app-custom-card titleTranslationKey="" [showCloseButton]="false" iconBackgroundClass="circle-purple"
    icon="fas fa-check fa-5x">

    <div body class="text-center">
        <p class="introduction-title text-primary text-heavy-font text-givt-purple">
            Titel</p>
        <p class="text-givt-purple text-light-font" >
            Omschrijving</p>
    </div>

    <a bottom [translate]   [routerLink]="['/', 'dashboard']"
        class="btn btn-lg bg-givt-green text-white text-heavy-font bottom-button w-100">
        onboardingBankAccountSigningCompleteComponent.finalActionText
</a>

</app-custom-card>