.password-box 
{
    position: relative;
    display:flex;
}

.pass-eye {
    position: absolute;
    margin:0;
    top:calc(50% - 6px);
    // + 6 px omdat onze svg vast staat op 13/14 height

    right:11px;
    padding: 0 10px;
    
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
}


.form-text{
    display: block;
margin-top:0.6rem;
}

