$givt-purple-color: rgb(46,41,87);
$givt-green-color:rgb(65,201,142);

$theme-colors: (
  "primary": $givt-purple-color ,
  "success": $givt-green-color
);


@import "~bootstrap/scss/bootstrap";


.password-box {
	position: relative;
	display: flex;
}

.pass-eye {
	position: absolute;
	margin: 0;
	top: calc(50% - 11px);
	right: 11px;
	padding: 0 10px;

	//   -ms-transform: translateY(-50%);
	//   transform: translateY(-50%);
}

.form-text {
	display: block;
	margin-top: 0.6rem;
}


.form-control {
	border:1px solid rgba(206,212,218,0.3);
  }