@import "~bootstrap/scss/bootstrap";


:host.submitted input {
	border-color: red;
}


.password-box {
	position: relative;
	display: flex;
}

.pass-eye {
	position: absolute;
	margin: 0;
	top: calc(50% - 11px);
	right: 11px;
	padding: 0 10px;

	//   -ms-transform: translateY(-50%);
	//   transform: translateY(-50%);
}

.form-text {
	display: block;
	margin-top: 0.6rem;
}


.form-control {
	border:1px solid rgba(206,212,218,0.3);
  }