<app-custom-card titleTranslationKey="" [showCloseButton]="true" iconBackgroundClass="circle-purple"
    icon="fas fa-file-signature fa-4x">

    <div body>
        <p class="introduction-title text-primary text-center text-heavy-font text-givt-purple" translate>
            onboardingBankAccountHolderInfoComponent.title</p>
        <p class="text-givt-purple text-center text-light-font"
            innerHTML="{{ 'onboardingBankAccountHolderInfoComponent.description' | translate }}">
        </p>
    </div>

    <a bottom [translate] class="btn btn-lg align-self-end bg-givt-green text-white text-heavy-font bottom-button w-75"
        [routerLink]="['/', 'onboarding', 'bank-account-holder', { outlets: { 'onboarding-outlet': ['who'] } }]">
        onboardingBankAccountHolderInfoComponent.startButtonText
    </a>
</app-custom-card>