@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'src/styles.scss';

.border-radius-40 {
  border-radius: 40px;
}

.btn-givt:hover:not(:disabled),
.btn-givt.active {
  @extend .bg-givt-purple;
  color: white !important;
}


.disabled {
    cursor: not-allowed;
}
