@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

@import '../../../../globals.scss';

.border-radius-20 {
  border-radius: 20px;
}

p {
  font-size: unset;
  line-height: 100%;
  margin-bottom: unset;
}

.minw-100 {
  min-width: 100px;
}

.btn-givt:hover:not(:disabled),
.btn-givt.active {
  @extend .bg-givt-purple;
  color: white !important;
}


.disabled {
    cursor: not-allowed;
}
