<form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column h-100">
    <div class="component-container">
        <div class="custom-card shadow">
            <div class="card-titlebar">

            </div>
            <div class="card-content">
                <div class="scrollable-area d-flex flex-column flex-grow-1">
                    <div class="card-content-header center-xy">
                        <app-header-image class="text-center w-100"></app-header-image>
                    </div>
                    <div class="card-content-body d-flex flex-grow-1">
                        <div class="w-100">
                            <h1 [translate]="'loginComponent.headerTitle'"
                                class="text-primary text-light-font text-givt-purple text-center"></h1>
                            <p [translate]="'loginComponent.title'"
                                class="introduction-title text-primary text-light-font text-givt-purple text-center mt-3">
                            </p>
                            <input [class.submitted]="submitted && !isValidEmail" type="email"
                                autocomplete="new-password" placeholder="{{ 'placeholders.email' | translate }}"
                                formControlName="email"
                                class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                            <app-password-input [class.submitted]="submitted && !isValidPassword"
                                formControlName="password" [showPasswordHint]='false'></app-password-input>
                            <div *ngIf="errorMessages" class="mt-2">
                                <small *ngFor="let message of errorMessages" class="form-text text-red">
                                    {{message.value}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content-footer">
                    <div class="center-xy">
                        <button [disabled]="loading" type="submit" [translate]
                            class="btn btn-lg bg-givt-green text-white text-heavy-font w-75 m-0">
                            <i class="fas fa-rocket mr-1" *ngIf="!loading"></i>
                            <i class="fas fa-spinner fa-spin mr-1" *ngIf="loading"></i>
                            loginComponent.loginButtonText
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>