<app-custom-card titleTranslationKey="" [showCloseButton]="true" iconBackgroundClass="circle-purple"
    icon="fas fa-file-signature fa-4x" questionMarkTitle="onboardingBankAccountSigningIntroComponent.questionmarkTitle"
    questionMarkText="{{ paymentProvider == 0 || paymentProvider == 4 ? 'onboardingBankAccountSigningIntroComponent.questionmarkText.SEPA' : 'onboardingBankAccountSigningIntroComponent.questionmarkText.BACS'}}">

    <div body>
        <p class="introduction-title text-primary text-center text-heavy-font text-givt-purple" translate>
            onboardingBankAccountSigningIntroComponent.title</p>
        <p class="text-givt-purple text-light-font text-center" translate>
            onboardingBankAccountSigningIntroComponent.description</p>
    </div>

    <a bottom [translate]
        class="btn btn-lg align-self-end bg-givt-green text-center text-white text-heavy-font bottom-button w-75"
        [routerLink]="['/', 'onboarding', 'bank-account-signing', { outlets: { 'onboarding-outlet': ['verify-personal-details'] } }]"
        queryParamsHandling="merge">
        onboardingBankAccountSigningIntroComponent.nextButtonText
    </a>
</app-custom-card>