<div class="component-container">
    <div class="custom-card shadow">
        <div class="card-titlebar">

        </div>
        <div class="card-content">
            <div class="card-content-header center-xy">
                <div class="circle-purple shadow w-150px h-150px center-xy">
                    <i class="fas text-white fa-file-signature fa-4x"></i>
                </div>
            </div>
            <div class="card-content-body d-flex flex-grow-1">
                <div class="text-center">
                    <div class="text-center">
                        <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
                            onboardingBankAccountSigningIntroComponent.title</p>
                        <p class="text-givt-purple text-light-font" translate>
                            onboardingBankAccountSigningIntroComponent.description</p>
                    </div>
                </div>
            </div>
            <div class="card-content-footer">
                <div class="mr-0 ml-auto w-75 px-0">
                    <a [translate]
                        [routerLink]="['/', 'onboarding', 'bank-account-signing', { outlets: { 'onboarding-outlet': ['verify-personal-details'] } }]"
                        queryParamsHandling="merge"
                        class="btn float-right btn-lg bg-givt-green text-white text-heavy-font w-100 m-0">
                        onboardingBankAccountSigningIntroComponent.nextButtonText
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>