<app-custom-card [showCloseButton]="false">
  <div body>
    <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
    <h1 translate class="text-primary text-light-font text-givt-purple text-center mt-5">
        preboardingWelcomeDetailsComponent.title
    </h1>
    <div class="introduction-title text-primary text-light-font text-givt-purple text-center mt-3" 
        innerHtml="{{description}}"></div>
  </div>

  <a bottom [translate] class="btn btn-lg bg-givt-green text-white text-heavy-font w-75 m-0"
    [routerLink]="['/', 'preboarding', 'register', 'name-in-app']">
    <i class="fas fa-rocket mr-1"></i>
    preboardingWelcomeDetailsComponent.startButtonText
  </a>

</app-custom-card>