<app-custom-card [showCloseButton]="false">
  <div body>
    <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
    <h1 [translate]="'preboardingWelcomeDetailsComponent.headerTitle'"
      class="text-primary text-light-font text-givt-purple text-center mt-5"></h1>
    <p [translate]="'preboardingWelcomeDetailsComponent.description'"
      class="introduction-title text-primary text-light-font text-givt-purple text-center mt-3"></p>
  </div>

  <button bottom type="submit" [translate]
    class="btn align-self-end btn-lg bg-givt-green text-white text-heavy-font bottom-button w-75">
    preboardingWelcomeDetailsComponent.startButtonText
  </button>

</app-custom-card>