<form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
    <div class="ml-3 container-fluid h-100 d-flex flex-column">
        <div class="row pt-5 col-12">
                <h2 class="text-font-light text-givt-purple">
                    {{ pageTitle }}</h2>
        </div>
        <div class="row my-4 flex-column col-11">
            <div class="d-flex flex-row py-2 background-gradient-blue rounded-top-right align-items-center">
                <div class="px-3 text-white text-heavy-font col-2" translate>
                    collectGroupDashboardPeopleComponent.columnHeaderOne
                </div>
                <div class="px-3 text-white text-heavy-font col-2" translate>
                    collectGroupDashboardPeopleComponent.columnHeaderTwo
                </div>
                <div class="px-3 text-white text-heavy-font col-2" translate>
                    collectGroupDashboardPeopleComponent.columnHeaderThree
                </div>
                <div class="px-3 text-white text-heavy-font col-3" translate>
                    collectGroupDashboardPeopleComponent.columnHeaderFour
                </div>
                <div class="px-3 text-white text-heavy-font col-2" translate>
                    collectGroupDashboardPeopleComponent.columnHeaderFive
                </div>
            </div>
            <div formArrayName="contactPersons" class="flex-column">
                <div *ngFor="let item of contactPersons.controls; let contactIndex=index" [formGroupName]="contactIndex"
                    [ngClass]="{'bg-grey': contactIndex % 2 == 0, 'bg-white': contactIndex % 2 == 1}"
                    class="d-flex flex-row border-bottom py-3">
                    <div class="px-3 text-givt-purple col-2">
                        {{ item.value.Role }}
                    </div>
                    <div class="px-3 text-givt-purple col-2">
                        {{ item.value.FirstName }}
                    </div>
                    <div class="px-3 text-givt-purple col-2">
                        {{ item.value.LastName }}
                    </div>
                    <div class="px-3 text-givt-purple col-3">
                        {{ item.value.Email }}
                    </div>
                    <div class="px-3 text-givt-purple col-2">
                        {{ item.value.Telephone }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-xl-2 col-sm-7 col-lg-4 col-md-5 mb-3">
            <app-dashboard-link-button
                text="{{ 'collectGroupDashboardPeopleComponent.addContactButtonText' | translate }}"
                [route]="['/', 'contact-registration']" icon="fas fa-plus mr-3"></app-dashboard-link-button>
        </div>
    </div>
</form>