<form body [formGroup]="form" (ngSubmit)="submit()" class="w-100 h-100 justify-content-center">
    <app-custom-card>
        <div body class="d-flex flex-column align-items-center">
            <app-header-image class="text-center w-100 mt-1"></app-header-image>
            <h1 [translate]="'passwordForgottenNewPasswordComponent.headerTitle'"
                class="text-primary text-light-font text-givt-purple text-center mt-5"></h1>
            <p [translate]="'passwordForgottenNewPasswordComponent.title'"
                class="introduction-title text-primary text-light-font text-givt-purple text-center mt-3"></p>
            <input  type="email" autocomplete="new-password"
                placeholder="{{ 'placeholders.email' | translate }}" formControlName="email"
                class="form-control form-control-lg mb-3 shadow text-givt-purple mt-1" />
            <app-password-input [class.submitted]="submitted && !isValidPassword" formControlName="password"
                [showPasswordHint]="true" class="w-100"></app-password-input>
             
            <div *ngIf="errorMessages" class="mt-2">
                <small *ngFor="let message of errorMessages" class="form-text text-red">
                    {{ message.value }}
                </small>
            </div>
        </div>
        <button bottom [disabled]="loading" type="submit" [translate]
            class="btn btn-lg bg-givt-green text-white text-heavy-font w-75 m-0">
            <i class="fas fa-spinner fa-spin mr-1" *ngIf="loading"></i>
            passwordForgottenNewPasswordComponent.buttonText
        </button>
    </app-custom-card>
</form>