<app-custom-card titleTranslationKey="" iconBackgroundClass="circle-blue" icon="fas fa-newspaper fa-5x">

    <div body class="text-center">
        <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
            onboardingOrganisationDetailsIntroComponent.title</p>
        <p class="text-givt-purple text-light-font" translate>
            onboardingOrganisationDetailsIntroComponent.description</p>
        <a class="text-givt-purple text-light-font no-charity-number-link" (click)="gotoManualEntry()">
            <u>{{'onboardingOrganisationDetailsIntroComponent.dontHaveCharityNumber' | translate}}</u>
        </a>
    </div>

    <a bottom [translate] class="btn btn-lg align-self-end bg-givt-green text-center text-white text-heavy-font bottom-button w-75" (click)="continue()">
        onboardingOrganisationDetailsIntroComponent.startButtonText
    </a>
</app-custom-card>