<app-custom-card titleTranslationKey="" iconBackgroundClass="circle-blue" icon="fas fa-newspaper fa-5x">

    <div body class="text-center">
        <p class="introduction-title text-primary text-heavy-font text-givt-purple" translate>
            onboardingOrganisationDetailsIntroComponent.title</p>
        <p class="text-givt-purple text-light-font" translate>
            onboardingOrganisationDetailsIntroComponent.description</p>
        <a class="text-givt-purple text-light-font" href="{{contractUrl}}">
            <u>Dont have a carity number</u>
            </a>
    </div>

    <a bottom [translate]
        class="btn btn-lg align-self-end bg-givt-green text-center text-white text-heavy-font bottom-button w-75"
        [routerLink]="['/', 'onboarding', 'organisation-details', { outlets: { 'onboarding-outlet': ['charity-number'] } }]"
        queryParamsHandling="merge">
        onboardingOrganisationDetailsIntroComponent.startButtonText
    </a>
</app-custom-card>