<form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()" class="justify-content-center h-100 w-100">
  <app-custom-card titleTranslationKey="onboardingBankAccountHolderWhoComponent.title" [showCloseButton]="true"
    iconBackgroundClass="circle-orange" icon="fas fa-file-signature fa-4x">

    <div body>
      <div class="w-100 d-flex justify-content-between">
        <p class="text-primary text-light-font text-givt-purple">
          {{ 'onboardingBankAccountHolderWhoComponent.nameAuthorized' | translate }}
        </p>
        <p class="mb-0 text-right">
          <a href="javascript:void(0)" (click)="preFillWithCurrentUser($event)"
            class="text-primary text-light-font text-givt-purple cursor-pointer">
            <i class="fas text-givt-purple fa-magic mr-2"></i>
            <em><u translate>onboardingBankAccountHolderWhoComponent.iCanAuthorize</u></em>
          </a>
        </p>
      </div>
      <input formControlName="firstName" type="text" autocomplete="given-name"
        placeholder="{{ 'placeholders.firstName' | translate }}"
        class="my-3 form-control form-control-lg show-validation text-primary mb-3 shadow text-givt-purple" />
      <input formControlName="lastName" type="text" autocomplete="family-name"
        placeholder="{{ 'placeholders.lastName' | translate }}"
        class="my-3 form-control form-control-lg show-validation text-primary mb-3 shadow text-givt-purple" />
      <p translate class="text-primary text-light-font text-givt-purple">
        onboardingBankAccountHolderWhoComponent.emailAuthorized
      </p>
      <input formControlName="emailAddress" type="email" autocomplete="email"
        placeholder="{{ 'onboardingBankAccountHolderWhoComponent.emailAddress' | translate }}"
        class="my-3 form-control form-control-lg show-validation text-primary mb-3 shadow text-givt-purple" />
      <p translate class="text-primary text-light-font text-givt-purple">
        onboardingBankAccountHolderWhoComponent.description
      </p>
    </div>
    
    <button bottom type="submit" [translate] [disabled]="loading"
      class="btn align-self-end btn-lg bg-givt-green text-white text-heavy-font bottom-button w-75">
      <span class="text-white text-heavy-font" translate>
        <i *ngIf="loading" class="fas fa-spinner fa-spin mr-2"></i>
        onboardingBankAccountHolderWhoComponent.nextButtonText
      </span>
    </button>

  </app-custom-card>
</form>