<div class="d-flex flex-column h-100">
    <div class="d-flex flex-column CONTAINER container my-auto shadow h-100 w-100">
        <div class="HEADER row d-flex align-items-center pb-5 header-navigation-bar">
            <div class="col-2"></div>
            <p translate class="text-givt-purple text-heavy-font p-0 m-0 text-center flex-grow-1">
                onboardingBankAccountHolderWhoComponent.title
            </p>
            <a class='cursor-pointer' (click)="redirectToDashboard()" [translate]>
                <div class="col-2 text-center"><i class="fas text-givt-purple fa-times"></i></div>
            </a>

        </div>
        <div class="BODY row d-flex flex-grow-1 overflow-auto">
            <div class="text-center">
                <p class="text-givt-purple text-light-font" translate>
                    onboardingBankAccountHolderWhoComponent.description</p>
            </div>
        </div>
        <div class="FOOTER row pb-4 pt-2">
            <div class="mr-0 ml-auto col-8 px-0">
                <button [translate] class="btn float-right btn-lg bg-givt-green text-white text-heavy-font w-100 m-0">
                    onboardingBankAccountHolderWhoComponent.nextButtonText
                </button>
            </div>
        </div>
    </div>
</div>