<app-custom-card titleTranslationKey="bankStatementUploadCompleteComponent.title" showCloseButton="true"
    iconBackgroundClass="circle-blue" icon="fas fa-upload fa-5x">
    <div body class="row">
        <div class="col-2"></div>
        <div class="col-8 text-givt-purple" translate>bankStatementUploadCompleteComponent.body</div>
        <div class="col-2"></div>
    </div>
    <a bottom translate class="btn btn-lg align-self-end bg-givt-green text-white text-heavy-font bottom-button w-75"
        [routerLink]="['/', 'dashboard']">
        bankStatementUploadCompleteComponent.goToDashboard
    </a>
</app-custom-card>