<div class="w-100 row d-flex justify-content-between mx-0">
    <button type="submit" [translate] class="btn btn-lg text-heavy-font m-0 mr-1 flex-grow-1">
        <p class="text-white text-heavy-font p-0 m-0 text-center" translate>
            onboardingBankAccountAuthorizedComponent.buttonYes</p>
    </button>
    <button type="submit" [translate] class="btn btn-lg text-heavy-font m-0 ml-1 flex-grow-1">
        <p class="text-white text-heavy-font p-0 m-0 text-center" translate>
            onboardingBankAccountAuthorizedComponent.buttonNo</p>
    </button>
</div>