<app-custom-card titleTranslationKey="onboardingBankAccountAddComponent.Title" [showCloseButton]="true"
    iconBackgroundClass="circle-purple" icon="fas fa-check fa-5x">

    <div body>
        <p class="introduction-title text-center text-primary text-heavy-font text-givt-purple" translate>
            onboardingBankAccountCompletedComponent.title</p>
        <p class="text-givt-purple text-center text-light-font" translate>
            onboardingBankAccountCompletedComponent.description</p>
        <div class="d-flex flex-column information-card p-3 shadow w-100">
            <p class="introduction-title text-primary text-light-font text-givt-purple mb-0">
                {{'placeholders.bankAccountName' | translate}}:
                {{accountName}}
            </p>
            <p class="introduction-title text-primary text-light-font text-givt-purple mb-0">
                {{'placeholders.sortCode' | translate}}:
                {{sortCode}}
            </p>
            <p class="introduction-title text-primary text-light-font text-givt-purple mb-0">
                {{'placeholders.accountNumber' | translate}}:
                {{accountNumber}}
            </p>
        </div>
    </div>

    <a bottom [translate] class="btn btn-lg align-self-end bg-givt-green text-white text-heavy-font bottom-button w-75"
        [routerLink]="['/', 'dashboard']">
        onboardingWelcomeComponent.goToDashboardText
    </a>

</app-custom-card>