<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()' class='justify-content-center w-100 h-100' #formDir="ngForm" [class.submitted]="formDir.submitted">
    <app-custom-card [showCloseButton]="false" [showPreviousButton]="true" titleTranslationKey='preboardingOrganisation.topTitle'>
        <div body>
            <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
            <p class="introduction-title text-primary text-light-font text-givt-purple mt-3" translate>
                preboardingVisitorCount.description
            </p>
            <div class="row mt-5">
                <div class="col-12">
                    <input formControlName="numberOfVisitors" type="text" placeholder="{{'preboardingCollectionMediumDetails.placeholderNumberOfVisitors' | translate }}" class="form-control form-control-lg show-validation text-primary shadow text-givt-purple"
                    />
                </div>
            </div>
        </div>
        <button bottom type="submit" [translate] class="btn align-self-center btn-lg bg-givt-purple text-white text-heavy-font bottom-button w-75">
            <span class="text-white text-heavy-font" translate>
              preboardingCollectionMediumDetails.nextButtonText
            </span>
        </button>
    </app-custom-card>
</form>