<form autocomplete='off' [formGroup]='form' (ngSubmit)='submit()' class='justify-content-center w-100 h-100' #formDir="ngForm" [class.submitted]="formDir.submitted">
    <app-custom-card [showCloseButton]="false" [showPreviousButton]="true" titleTranslationKey='preboardingOrganisation.topTitle'>
        <div body>
            <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
            <p class="introduction-title text-primary text-light-font text-givt-purple mt-3" translate>
                preboardingMailboxAddressDetailsComponent.description
            </p>

            <input type="text" placeholder="{{'preboardingMailboxAddressDetailsComponent.placeholderAddress' | translate}}" formControlName="mailBoxAddress" class="form-control form-control-lg mb-3 shadow text-givt-purple" />

            <input type="text" placeholder="{{'preboardingMailboxAddressDetailsComponent.placeholderCity' | translate}}" formControlName="mailBoxCity" class="form-control form-control-lg mb-3 shadow text-givt-purple" />

            <input type="text" placeholder="{{'preboardingMailboxAddressDetailsComponent.placeholderZipcode' | translate}}" formControlName="mailBoxZipCode" class="form-control form-control-lg mb-3 shadow text-givt-purple" />

            <!-- <input type="textarea"class="form-control form-control-lg mb-3 shadow text-givt-purple" /> -->
            <textarea formControlName="mailBoxComments" class="form-control rounded-3" placeholder="{{'preboardingMailboxAddressDetailsComponent.placeholderComments' | translate}}" rows="3"></textarea>


        </div>
        <button bottom type="submit" [translate] class="btn align-self-end btn-lg bg-givt-purple text-white text-heavy-font bottom-button w-75">
            <span class="text-white text-heavy-font" translate>
                preboardingMailboxAddressDetailsComponent.nextButtonText
            </span>
        </button>
    </app-custom-card>
</form>