<div class="d-flex flex-column h-100">
    <div class="d-flex flex-column CONTAINER container my-auto shadow h-100 w-100">
        <div class="HEADER row d-flex align-items-center pb-5">
            <div class="col-2"></div>
            <p class="text-givt-purple text-heavy-font p-0 m-0 text-center flex-grow-1" translate>
                onboardingBankAccountAuthorizedComponent.title</p>
            <div class="col-2 text-center"><i class="fas text-givt-purple fa-times"></i> </div>
        </div>
        <div class="BODY row d-flex flex-grow-1">
            <div class="w-100">
                <p class="introduction-title text-primary text-light-font text-givt-purple" translate>
                    onboardingBankAccountAuthorizedComponent.description</p>
                <app-check-box-input></app-check-box-input>
                <div>
                    <p [translate]="'onboardingBankAccountAuthorizedComponent.questionPhoneNumber'"
                        class="introduction-title text-primary text-light-font text-givt-purple mt-5"></p>
                    <input type="tel" class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                    <small class="text-left form-text pb-3">
                        <a class="text-givt-purple text-light-font" translate queryParamsHandling="merge">
                            onboardingBankAccountAuthorizedComponent.questionPhoneNumberSmallText</a>
                    </small>
                </div>

                <div>
                    <p [translate]="'onboardingBankAccountAuthorizedComponent.questionAuthorizedPerson'"
                        class="introduction-title text-primary text-light-font text-givt-purple mt-5"></p>
                    <input formControlName="firstName" type="text" autocomplete="given-name"
                        placeholder="{{ 'placeholders.firstName' | translate }}"
                        class="my-3 form-control form-control-lg show-validation text-primary mb-3 shadow text-givt-purple" />
                    <input type="email" autocomplete="new-password" placeholder="{{ 'placeholders.email' | translate }}"
                        formControlName="email" class="form-control form-control-lg mb-3 shadow text-givt-purple" />
                    <small class="text-left form-text pb-3">
                        <a class="text-givt-purple text-light-font" translate queryParamsHandling="merge">
                            onboardingBankAccountAuthorizedComponent.questionAuthorizedPersonSmallText</a>
                    </small>
                </div>

            </div>
        </div>
        <div class="FOOTER row pb-4">
            <div class="mr-0 ml-auto col-8 px-0">
                <button type="submit" [translate]
                    class="btn float-right btn-lg bg-givt-green text-white text-heavy-font w-100 m-0">
                    onboardingBankAccountAuthorizedComponent.okButtonText
                </button>
            </div>
        </div>
    </div>
</div>