@import "extensions.scss";
@import "globals.scss";

@font-face {
    font-family: "Avenir_Black";
    src: url("/assets/fonts/AvenirLTStd-Black.otf");
    src: url("/assets/fonts/AvenirLTStd-Black.ttf");
}

@font-face {
    font-family: "Avenir_Light";
    src: url("/assets/fonts/AvenirLTStd-Light.otf");
}

@font-face {
    font-family: "Avenir_Roman";
    src: url("/assets/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
    font-family: "Avenir_Heavy";
    src: url("/assets/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
    font-family: "Avenir_Medium";
    src: url("/assets/fonts/AvenirLTStd-Medium.otf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/roboto-v15-latin-regular.woff") format("woff");
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    //border: 1px solid green;
    -webkit-text-fill-color: $givt-purple-color;
    // -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    color: $givt-purple-color;
    transition: background-color 5000s ease-in-out 0s, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
