<div class="container mt-5">
        <div class="row mt-5 justify-content-center">
            <div class="col-5 ">
                <app-header-image></app-header-image>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="email-circle justify-content-center">
                <i class="fas text-white   fa-envelope fa-5x"></i>
            </div>
            
        </div>
      <div class="row mt-3">
          <div class="col-12 text-center introduction-title text-primary text-heavy-font">
              <span translate>onboardingCheckInboxComponent.title</span>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-12  text-primary text-light-font">
              <span translate>onboardingCheckInboxComponent.description</span>
          </div>
      </div>
    </div>
    