<div class="container onboarding-container align-self-center">
    <div class="onboarding-wrapper">
        <div class="onboarding-header mt-5">
            <app-header-image></app-header-image>
        </div>
        <div class="onboarding-body">
            <div class="email-circle mx-auto mt-3 mb-3 justify-content-center">
                <i class="fas text-white   fa-envelope fa-5x"></i>
            </div>

        <p class="text-givt-purple " translate>onboardingCheckInboxComponent.title</p>
        <p class="text-givt-purple text-light-font" translate>onboardingCheckInboxComponent.description</p>
        </div>
    </div>
    <div class="onboarding-footer">
    </div>
</div>


