<form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()" class="justify-content-center w-100 h-100">
  <app-custom-card [showCloseButton]="false"
    questionMarkPictureTitle="preboardingNameInAppComponent.questionmarkPictureTitle"
    questionMarkPictureText="preboardingNameInAppComponent.questionmarkPictureText"
    questionMarkPicturePath="../../../../assets/images/organisation-name-example.png"
    questionMarkPictureAlt="preboardingNameInAppComponent.questionmarkPictureAlt">
    <div body>
      <app-header-image class="d-flex flex-row justify-content-center"></app-header-image>
      <h1 [translate]="'preboardingNameInAppComponent.title'"
        class="text-primary text-light-font text-givt-purple text-center mt-5"></h1>
      <p class="text-givt-purple text-light-font text-center" translate>
        preboardingNameInAppComponent.description
      </p>
      <input formControlName="inAppOrgName" type="text" placeholder="{{ 'placeholders.inAppOrgName' | translate }}"
        class="my-3 form-control form-control-lg show-validation text-primary mb-3 shadow text-givt-purple" />
    </div>

    <button bottom type="submit" [translate]
      class="btn align-self-end btn-lg bg-givt-purple text-white text-heavy-font bottom-button w-75">
      <span class="text-white text-heavy-font" translate>
        preboardingNameInAppComponent.nextButtonText
      </span>
    </button>

  </app-custom-card>
</form>